<!DOCTYPE HTML>
<html>
	<head>
		<title>Jyoti Shelke Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="../static/images/avatar.jpg" alt="" /></span>
							<h1 id="title">Jyoti Shelke</h1>
							<p>Software Developer | Python</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Introduction</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">My Projects</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/jyoti-shelke/" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/jyoti-shelke-84ab4a151/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href = "mailto: shelke.jyotiv@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Jyoti Shelke</strong><br />
								Welcome to my Website!</h2>
								<p><strong>I am a Software Developer | Python Developer<br />
								a small-time Web Developer, and a Cheif</strong></p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">More About me!</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>My Projects</h2>
							</header>

							<p>I have done some projects in Python programming Language</b>
							 and I have also developed few websites for clients. My latest project</b>
							 is this Portfolio-website you are rolling your eyes through,</b>
							 which I developed using Flask-microframework, Python, HTML, and SQL.</b>
							 Check out my other work below!</b> 
						     </p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/jyoti-shelke/Attrition_Case_study_jyoti" target="_blank" class="image fit"><img src="../static/images/pic02.jpg" alt="" />
											<header>
												<h3>1. Attrition Case Stydy </b> Prediction</b>
												using ML-models</h3>
											</header>
										</a>
									</article>
									<article class="item">
										<a href="https://github.com/jyoti-shelke/Weather-Forcast-on-Sample-data" target="_blank" class="image fit"><img src="../static/images/pic03.jpg" alt="" />
											<header>
												<h3>2. Weather Forecast on sample data</b>
												using Random-Forest regression</b>in Python</h3>
											</header>
										</a>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/jyoti-shelke/Jyoti_website_career" target="_blank" class="image fit"><img src="../static/images/pic04.jpg" alt="" />
											<header>
												<h3>3. Portfolio Website</b>
													using Flask-microframework</h3></b>Python, HTML/CSS, and SQL</h3>
											</header>
										</a>
									</article>
									<article class="item">
										<a href="http://www.kishorkawad.com/" class="image fit" target="_blank"><img src="../static/images/pic06.jpg" alt="" />
											<header>
												<h3>4. Website for my Client</b>
													using HTML5, CSS3, Bootstrap, Javascript,PHP</b> </h3>
											</header>
										</a>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://jyoti-shelke.github.io/priyankWebsite_new/" target="_blank" class="image fit"><img src="../static/images/pic05.jpg" alt="" />
											<header>
												<h3>5. Website for Lawyer Client</b>
												using HTML5, CSS3, Bootstrap, Javascript,PHP</h3>
											</header>
										</a>
									</article>
									<article class="item">
										<a href="https://github.com/jyoti-shelke/Jyoti_flask_project" target="_blank" class="image fit"><img src="../static/images/pic07.jpg" alt="" />
											<header>
												<h3>6. Simple Login system using Flask</b>
												Basic Understanding of Flask</b>Flask, Python</h3>
											</header>
										</a>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<p>My name is Jyoti Shelke, a creative thinker and Software Developer passionate about Reading. I'm currently based in London, actively looking for job opportunities and also willing to relocate. I'm all about turning observations into meaningful stories, and the process in between.</b>
                                I'm an efficiency enthusiast. I believe in Learning and making progress.</p> 

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h3>Contact</h3>
							</header>
							<a href="#" class="image featured" style="width: 20%;height: 20%;"><img src="../static/images/pic08.jpg" alt="" /></a>

							<p>You can find my projects on Github and connect with me on LinkedIn. You can message me as well. Thanks!</p>

							<form method="post" action="/submit_form">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" id="name" required="required" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="email" name="email" id="email" required="required" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" rows="7" required="required" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>


		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>